@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins' , 'sans-serif';
}

header{
  height: 60vh;
  overflow: hidden;
  position: relative;
  object-fit: cover;
  margin-bottom: 2rem;
}


.header-image{
  min-height: 42rem;
  max-height: 57rem;
    width: 100%;
    position:absolute;
    top: 0;
    z-index: -1;
}

.header-image img{
    width: 100%;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 1rem;
    margin: 0 40px;
}

.nav-bar{
    list-style: none;
    font-weight: lighter;
    display: flex;
    gap: 1.5rem;
}

.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 7vh;
    align-items: center;
}
.head img{
    width: 30%;
}

.head h3{
   font-size: 2.1rem;
   color: white;
   font-weight: 400;
}

.search{
    display: flex;
    width: 55vw;
    height: 50px;
    align-items: center;
    border-radius: 10px;
    background: white;
    padding: 5px 4px;
}

.search .search-item{
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.search .search-item p{
    color: gray;
    border-right: 2px solid gray;
    font-size: 15px;
    margin-left: 10px;
    padding-right: 10px;
}

.search .search-item input{
    outline: none;
    border: none;
    padding-left:10px;
    width: 200%;
    font-size: 15px;
}

.search .search-item:first-child{
    width: 30%;
    color: rgb(245, 11, 11);
}

.search .search-item:last-child{
    width: 70%;
    color: gray;
}

.section-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.section-1 .section-1-item{
    position: relative;
    width: 340px;
    height: 220px;
    overflow: hidden;
    margin: 14px;
    border-radius: 10px;
    border: 1px solid rgb(244, 239, 239);
    background-color: white;
}
.section-1 .section-1-item img{
    width: 100%;
}
.section-1 .section-1-item .item-details{
    position: absolute;
    bottom: 0px;
    align-items: center;
    background-color: rgb(248, 245, 245);
    width: 100%;
}
.section-1 .section-1-item .item-details p{
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 0.7px;
    margin: 5px;
    padding: 8px;
}
.section-1 .section-1-item:hover{
    cursor: pointer;
    box-shadow: 0px 1px 5px rgba(76, 60, 60, 0.5); 
    transition: all 0.1s;
}


.section-2{
    width: 75%;
    margin: 0 auto;
    margin-bottom: 4rem;
}
.section-2-heading{
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.section-2-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-2-item{
      box-shadow: 1px 1px rgba(76, 60, 60, 0.5); 
      display: flex;
      flex-direction: column;
      margin: 5px 10px;
      border-radius: 5px;
      padding: 14px 15px;
      width: 20%;
}

.section-2-item .item-head{
    font-size: 1.2rem;
    color: rgb(28,28,28);
    margin: 0;
}
.section-2-item .item-subhead{
    font-weight: lighter;
    color: rgb(51, 51, 51);
    margin: 0;
}

.see-more-head{
    text-align: center;
}
.section-3{
    height: 500px;
    background-color: rgb(242, 237, 232);
    margin: 7% 14%;
}


.section-3-container{
    width: 1080px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center
}

.section-3-img img{
        width: 300px;
        margin-right: 50px;
}

.section-3-content h1{
    font-size: 2.5rem;
    font-weight: lighter;
    margin-bottom: 15px;
    margin: 0;
}
.section-3-content p{
    font-weight: lighter;
    color: rgb(91, 90, 90);
}

.section-3-download img{
    margin-right: 10px;
    width: 40%;
}
